#root{
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.articleList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;  
  margin: 10px;
  padding: 10px
}

.articleList > li{
  list-style-type: none;
  width: 30rem;
}

.navigation{
  background-color: rgb(255, 0, 0);
  font-size: 30px;
  text-align: left
}

.articleCard{
  width: 30rem;
  /* height: 25rem; */
  margin: 1rem;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}