#root {
  margin: 0 auto;
  padding: 2rem 2rem;
  text-align: center;
  background-color: lightgrey
}

p {
  margin-top:0;
  margin-bottom:0
}

@media (min-width: 992px) {
  #root {
    padding: 2rem 12rem; /* 12rem padding on the x-axis for larger screens */
  }
}

.articleList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: stretch; */
  /* margin: 10px; */
  padding: 10px 0px;
  /* max-width: 75rem; */
  
}

.articleList > li {
  list-style-type: none;
  width: 30rem;
  
  
}

/* .navigation { */
  /* background-color: rgb(255, 0, 0);
  font-size: 30px; */
  /* align-items: left; */
  /* color: white; */
  /* border: 1px solid black; */
  /* margin: auto;
  max-width: 75rem; */

/* } */

/* .navbar-nav-sort{
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  list-style: none;
  justify-content: flex-start;
  width: 100%;
  border: solid black
} */

/* .basic-nav-dropdown-sort{
  width: 10rem;
  align-items: center;
  border: solid black
}  */

.articleCard {
  margin-top: 3rem;
 width: 3rem;
/* height: 33rem;  */
}

.cardFooter{
  display: flex;
  justify-content: space-between
}


.cardFooterText{
  margin: 0rem
}
.header-img {
  width: 100%;
  height: 20rem;
  /* height: 25rem; */
  object-fit:cover;
  /* max-width: 70em; */
  padding: 1rem 0rem;
  

}
/* Media query for mobile screens */
@media (max-width: 576px) { 
  .header-img {
    height: 15rem; 
  }
}

.card-img-top {
  width: 100%;
  /* height: 25rem; */
  object-fit:contain;
  /* max-width: 75em; */

}

.articleBody {
  margin: 1rem 10%;
}

.fullArticleCard {
  margin: auto;
  /* max-width: 75rem; */
}

.articleVotes{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem
  
}

.commentList {
  /* max-width: 75rem; */
  margin: auto;
  list-style-type: none;
  align-items: stretch;
  /* margin: 10px; */
  padding: 0px;
}



.commentAdder{
  display: flex;
  justify-content: space-between;
  
  position: relative;
  margin-bottom: 1rem;
  /* max-width: 75rem */
  /* border: solid black */
}

.newComment{
  /* width: 90%; */
  flex-grow: 1;
  /* border: solid black */
}

.commentCard{
  margin-bottom: 1rem
}

.commentTop{
  display:flex;
  justify-content: space-between;
  margin-bottom: 1rem
}

.commentBottom{
  /* border: solid black; */
  display: flex;
  justify-content: space-between;
  align-items:center

}

.commentBody{
  display:flex;
  flex-direction: column;
  align-items:start;
  text-align:left
  /* border: solid black */
}

.deleteButton{
  max-height:3rem;
  margin: auto 0
}

.spacing{
  /* border: solid black; */
  margin: 0rem 1rem;
}

#addCommentButton{
  position: absolute;
  height: 3.5rem;
  width: 4rem

}